# Tuple

1.Tuples are immutable
2.Its a sequence of values declared in between ()
3.ex:(1,2,3)

# Singleton Tuple

In [4]:
t=(1)
type(t)

int

In [2]:
t=(True,)
type(t)

tuple

In [1]:
u='end',
type(u)

tuple

In [6]:
u=1,
type(u)

tuple

# Accesing tuple elements

In [11]:
tup=(1,4,5,'w',2.3,True,6,8,21) 
#    0 1 2  3   4   5    6 7 8

In [12]:
tup[5]

True

In [13]:
tup[::-1]

(21, 8, 6, True, 2.3, 'w', 5, 4, 1)

In [14]:
tup[len(tup)-1]

21

In [15]:
tup[4]=5

TypeError: 'tuple' object does not support item assignment

In [16]:
lis=[3,4,5]
lis[2]=9
lis     #but lists are mutable

[3, 4, 9]

In [67]:
tup1=(4,1,3) 
tup2=(9,0,2) 
tup1+tup2

(4, 1, 3, 9, 0, 2)

In [6]:
tup1=(1,2,3)
tup1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Using some functions in tuple

In [8]:
tup=(1,4,5,2,3,44,0)

In [9]:
len(tup)

7

In [10]:
max(tup)

44

In [11]:
min(tup)

0

In [13]:
sorted(tup,reverse = True)

[0, 1, 2, 3, 4, 5, 44]

# Converting tuple into a list

In [14]:
tup=(1,2,4)
newlis=list(tup)
type(newlis)

list

In [48]:
p=[1,2,3]
type(p)

list

In [49]:
tul=tuple(p)
tul

(1, 2, 3)

# Packing and unpacking tuple

In [15]:
c=(1,2,3,9)
b,m,d,h=c
print(h)

9

In [24]:
a,b,c=(1,2,3)
print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'int'>

# Nested tuples

In [17]:
nes=(1,2,(4,5,6),3.8)
for i in nes:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
(4, 5, 6) <class 'tuple'>
3.8 <class 'float'>

# Using count Object

In [60]:
a=(9,3,4,3,9,9)
a.count(9)

3

# Using index Object

In [27]:
a.index(3)

1

# Deleting a tuple

In [61]:
a=(1,2)
del(a)
a

NameError: name 'a' is not defined

# Excersices on tuples

Create a tuple which has three elements in it and unpack it with three variables.

Create a tuple containing the names of your five favorite fruits. Print the tuple, and then print the third fruit in the tuple.

Create a tuple containing the numbers from 1 to 10. Use a slice to print the first five numbers, and then use a slice to print the last five numbers.

Create a tuple containing the names of five cities. Use the max() function to find the city with the longest name, and then use the min() function to find the city with the shortest name.