# Dictionary

1. Dictionaries are key value pairs
2. Dictionaries are mutable
3. ex {'a':12}

In [5]:
student1 = {
    'name':'balu',
    'age':17,
    'class':12,
}
student1

{'name': 'balu', 'age': 17, 'class': 12, 12: 'age'}

In [9]:
student1['name']

'balu'

# Accessing the Values of dictionary using keys

In [2]:
student = {
    'muthu' : 21,
    'karuppu': 22,
    'muni' : 23
}
print(student['karuppu'])

22

In [3]:
student['muni']=255
student

{'muthu': 21, 'karuppu': 22, 'muni': 255}

# Using the del function for deleting a dictionary

In [4]:
del(student['muthu'])
student

{'karuppu': 22, 'muni': 255}

In [6]:
del student
student

NameError: name 'student' is not defined

# Using some Objects in dictionary

In [15]:
di = {'muthu' : 21,
    'karuppu': 22,
    'muni' : 23,
     }
print(di.pop('muni'))
di

23

{'muthu': 21, 'karuppu': 22}

In [24]:
print(sorted(di.values()))

[21, 22, 23]

In [18]:
di = {'muthu' : 21,
    'karuppu': 22,
      'muni' : 23}
a=sorted(di.keys())
a

['karuppu', 'muni', 'muthu']

In [25]:
di.values()
b=sorted(di.values())
b

[21, 22, 23]

In [38]:
for i in di.keys():
    print(i)

muthu
karuppu
muni

In [11]:
for i in di.values():
    print(i)

52
12
24

In [12]:
for i in di:
    print(i)

muthu
karuppu
muni

In [13]:
len(di)

3

In [14]:
str(di)

"{'muthu': 52, 'karuppu': 12, 'muni': 24}"

In [15]:
list(di)

['muthu', 'karuppu', 'muni']

In [16]:
di.clear()
di

{}

In [27]:
di = {'muthu' : 52,
    'karuppu': 12,
      'muni' : 24}
l=di.copy()
l

{'muthu': 52, 'karuppu': 12, 'muni': 24}

In [50]:
di.items()

dict_items([('muthu', 52), ('karuppu', 12), ('muni', 24)])

In [52]:
marvel={'hela':34,
    'america':96}

marvel.update(di)
marvel

{'hela': 34, 'america': 96, 'muthu': 52, 'karuppu': 12, 'muni': 24}

In [56]:
new_marvel={'roger':12}
new_marvel+marvel
new_marvel

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [61]:
34 in marvel

False

In [58]:
'muni' not in marvel

True

# Set

In [40]:
set1={4,2,2,1,'red','black','red'}
set1

{1, 2, 4, 'black', 'red'}

In [34]:
a=[4, 3, 3,3, 2, 1,3,2]
for i in a:
    x=a.count(i)
    if x>1:
       for j in range(x-1):
         a.remove(i)
sorted(a)

[1, 2, 3, 4]

In [43]:
a=[4, 3, 3,3, 2, 1,3,2]
print(list(set(a)))

[1, 2, 3, 4]

In [44]:
type(set1)

set

In [25]:
type(di)

dict

In [26]:
len(set1)

5

In [41]:
set1.add(1.5)
set1

{1, 1.5, 2, 4, 'black', 'red'}

In [45]:
set2={False,1,11,'str'}
set1.update(set2)
set1

{1, 1.5, 11, 2, 4, False, 'black', 'red', 'str'}

In [38]:
set2.remove(1)
set2

{11, False, 'str'}

In [30]:
set2.discard(False)
set2

{11, 'str'}

In [46]:
set1={1,2,3,4}
set2={4,5,6,1}

set1.intersection(set2)

{1, 4}

In [3]:
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [4]:
set1.intersection(set2)

{1, 4}