# Swapping two Numbers

In [2]:
a,b=1,2
c=0
print(f'a={a},b={b}')
c=b #c=2
b=a #b=1
a=c #a=2
print(f'a={a},b={b}')

a=1,b=2
a=2,b=1

In [3]:
a,b=1,2
print(f'a={a},b={b}')
b,a=a,b
print(f'a={a},b={b}')

a=1,b=2
a=2,b=1

In [26]:
a,b=1,2
a,b=b,a
print(a,b)

2 1

# Ternary operator (if else... in one line)

In [28]:
assignment = input('Assignments over ah? ')

if assignment =="over":
    print("You survived !")
else:
    print("You're dead !")

Assignments over ah? no i don't
You're dead !

In [30]:
assignment = input('Assignments over ah? ')
print("You survived !") if assignment=="over" else print("you're dead")

# <statement of if> if <condition> else <statement of else>

Assignments over ah? not
you're dead

# Sep operator

In [41]:
date,month,year=20,9,2003
print(date,month,year,sep="|")

20|9|2003

# Usage of underscore in an integer

In [43]:
a=19_000_000
print(a)

19000000

# The "f" string or formated string

In [1]:
age_w=21
age_m=39
print(f"He's {age_m} and his wife is {age_w}")
# print(f"{var} <string>")

He's 39 and his wife is 21

# The eval() function

In [4]:
a=int(input('Enter an input '))
print(type(a))

Enter an input 12
<class 'int'>

In [8]:
a=eval(input('Enter an input '))
print(a,type(a))

Enter an input 1.231
1.231 <class 'float'>

# The complex Data type

In [13]:
type(1+2j)

complex

In [14]:
a=23
new_a=complex(a)
print(new_a)

(23+0j)

# The zip() function

In [59]:
Boys = ['Bheem','Raju','Kalia']
Girls = ['Indumadhi','Chutki','TuntunAunty']
dholakpur = dict(zip(Boys,Girls))
dholakpur

{'Bheem': 'Indumadhi', 'Raju': 'Chutki', 'Kalia': 'TuntunAunty'}

In [18]:
dholakpur=list(zip(Boys,Girls))
dholakpur

[('Bheem', 'Indumadhi'), ('Raju', 'Chutki'), ('Kalia', 'TuntunAunty')]

In [19]:
for i,j in dholakpur:
    print(i,j)

Bheem Indumadhi
Raju Chutki
Kalia TuntunAunty

# .join operator

In [61]:
new = "|".join(Girls)
new

'Indumadhi|Chutki|TuntunAunty'

# The filter() function

In [66]:
def even(n):
    return n%2==0 #true / false

number=[88,42,1,3,4,44,708,12,3,4452]
even_int=list(filter(even,number))
even_int
#filter(func,iterable)

[88, 42, 4, 44, 708, 12, 4452]

In [67]:
print('odd',list(filter(lambda x:x%2!=0,number)))
print('even',list(filter(lambda x:x%2==0,number)))

odd [1, 3, 3]
even [88, 42, 4, 44, 708, 12, 4452]

In [70]:
mobiles = {'aos' :['samsung','mi','poco','pixel'],
           'ios':['iphone13','iphone14','iphone15']}

new_list = ['iphone13','samsung','mi','iphone14']

ios_list = list(filter(lambda x:(x in mobiles['ios']),new_list))
aos_list = list(filter(lambda x:(x in mobiles['aos']),new_list))
print(ios_list,aos_list)

['iphone13', 'iphone14'] ['samsung', 'mi']

# Comprehensions

list comprehension

In [1]:
n=int(input("Enter the number of names you wanna enter : "))
name_list = []
for i in range(n):
    name = input(f'Enter the {i+1}st Name = ')
    name_list.append(name)
print(name_list)

Enter the number of names you wanna enter : 3
Enter the 1ist Name = anil
Enter the 2ist Name = kiran
Enter the 3ist Name = hari
['anil', 'kiran', 'hari']

In [4]:
name_list = [i for i in input().split(',')]
print(name_list)

# [<statement> for <condition>]

kiran,hari,rahul,gandhi
['kiran', 'hari', 'rahul', 'gandhi']

In [26]:
print([i for i in input().split(',')])

karthi, kaja
['karthi', ' kaja']

dictionary comprehension

In [6]:
dict_comp={i:i+'hello' for i in input().split(',')}
dict_comp

# {key:value for i condition}

1,2,3,4

{'1': '1hello', '2': '2hello', '3': '3hello', '4': '4hello'}

set comprehensions

In [7]:
set_comp={int(i) for i in input().split(',')}
set_comp

1,2,2,3,3,4,5,4,5,6

{1, 2, 3, 4, 5, 6}

In [12]:
[print(i*'*') for i in range(5)]

*
**
***
****

[None, None, None, None, None]