# Tuple

1.Tuples are immutable
2.Its a sequence of values declared in between ()
3.ex:(1,2,3)

# Singleton Tuple

In [2]:
t = ([1,2,3],[2,3],1,"2",True)
for i in t:
    print(i)

[1, 2, 3]
[2, 3]
1
2
True

In [1]:
lst1 = [1,4,3]
lst1[1] = 54
print(lst1)

[1, 54, 3]

In [2]:
str1 = "Hihello"
str1[0] = "i"
str1

TypeError: 'str' object does not support item assignment

In [3]:
tup1 = (1,4,3)
tup1[0] = 23
tup1

TypeError: 'tuple' object does not support item assignment

In [2]:
t=(True,)
type(t)

tuple

In [1]:
u='end',
type(u)

tuple

In [6]:
u=1,
type(u)

tuple

# Accesing tuple elements

In [11]:
tup=(1,4,5,'w',2.3,True,6,8,21) 
#    0 1 2  3   4   5    6 7 8

In [12]:
tup[5]

True

In [13]:
tup[::-1]

(21, 8, 6, True, 2.3, 'w', 5, 4, 1)

In [14]:
tup[len(tup)-1]

21

In [15]:
tup[4]=5

TypeError: 'tuple' object does not support item assignment

In [16]:
lis=[3,4,5]
lis[2]=9
lis     #but lists are mutable

[3, 4, 9]

In [ ]:
#Concatenation
tup1=(4,1,3) 
tup2=(9,0,2) 
tup1+tup2

(4, 1, 3, 9, 0, 2)

In [ ]:
#repetition
tup1=(1,2,3)
tup1*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Using some functions in tuple

In [15]:
tup=(1,4,5,2,3,44,-34)

In [9]:
len(tup)

7

In [14]:
max({1,5,0,2})

5

In [10]:
max(tup)

44

In [18]:
min(tup)
sorted([1,11,4,2,3454],reverse=True)

[3454, 11, 4, 2, 1]

In [13]:
sorted(tup,reverse = True)

[0, 1, 2, 3, 4, 5, 44]

# Converting tuple into a list

In [ ]:
#typecasting a tuple to list 
tup=(1,2,4)
newlis=list(tup)
type(newlis)
newlis

[1, 2, 4]

In [23]:
#typecasting a list into tuple 
p=[1,2,3]
print(type(p))

tul=tuple(p)
print(type(tul))

<class 'list'>
<class 'tuple'>

# Packing and unpacking tuple

In [28]:
load = (1,3,5,22,81)
petti1,petti2,petti3,petti4,petti5 = load
petti5

81

In [ ]:
load_tup = (1,3,5,22,81)
load_str = "1352281"
load_list= [1,3,5,22,81]

TypeError: 'str' object does not support item assignment

In [ ]:
a,b,c=(1,2,3)
print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'int'>

# Nested tuples

In [43]:
nes=(1,2,(4,5,6),3.8)
for i in nes:
    print(i)

1
2
(4, 5, 6)
3.8

# Using count Object

In [ ]:
a=(9,3,4,3,9,9)
a.count(4)

1

# Using index Object

In [45]:
a.index(3)

1

# Deleting a tuple

In [61]:
a=(1,2)
del(a)
a

NameError: name 'a' is not defined

# Excersices on tuples

Create a tuple which has three elements in it and unpack it with three variables.

Create a tuple containing the names of your five favorite fruits. Print the tuple, and then print the third fruit in the tuple.

Create a tuple containing the numbers from 1 to 10. Use a slice to print the first five numbers, and then use a slice to print the last five numbers.

Create a tuple containing the names of five cities. Use the max() function to find the city with the longest name, and then use the min() function to find the city with the shortest name.