# Lists

In [3]:
#Lists are mutable in python
#mutable - values can be changes individually
#sequence of values which are seperated using comma which are inside square brackets is called as a list

a=[1,'df']
a[1] = 2
a

[1, 2]

In [3]:
lst=['a','x',',',True,False,1,1.2]
lst[2]=2
lst

['a', 'x', 2, True, False, 1, 1.2]

In [4]:
#accesing an element in alist using index
lst=[21,'a',True,4.3]
print(lst[3])

4.3

In [1]:
#creating a list using list function
a=1,2
a

(1, 2)

In [4]:
a=list(a)

print(a)

[1, 2]

In [5]:
#Slicing in list
lst=[11,32,1,3,4,50,1,0]
#    0  1  2 3 4 5  6 7
#the same as range function lst[start,end,step]
#list[first,last,stepping]
#range(first,last,stepping)
lst[1:5:2]

[32, 3]

In [13]:
lst[-1:-5:-1]

[0, 1, 50, 4]

In [14]:
#some methods in list
a=[4,3,1,2,3]

In [15]:
a.count(3)

2

In [24]:
a = [5,11,2,10,1111]
a.sort()
print(a)

sorted(a,reverse=True)
print(a)

[2, 5, 10, 11, 1111]
[2, 5, 10, 11, 1111]

In [ ]:
s = "Hello"
s = s.replace("H","j") # copy of s = jello
print(s)

Hello

In [17]:
sorted(a,reverse = True)

[4, 3, 3, 2, 1]

In [32]:
a = [2,4,5,3,6,7,3,8,9,10]
a.remove(3)
a

[2, 4, 5, 6, 7, 3, 8, 9, 10]

In [ ]:
a=[1,1,3,4,4,4,4,5,6,6] #1,3,4,4,5,6
for num in a:
  for _ in range(a.count(num)-1):
    a.remove(num)
print(a)

[1, 3, 4, 5, 6]

In [63]:
list1 = [1, 3, 4, 5, 6]
list1.append(34)
print(list1)

[1, 3, 4, 5, 6, 34]

In [68]:
a=[4,3,1,2,3]
a.remove(3) #removes the first element with value 3
a.pop(3) #removes the element at index 3
a

[4, 1, 2]

In [ ]:
a=[4,3,1,2,3]
del(a[2])
a

[4, 3, 2, 3]

In [14]:
del(a)
a

NameError: name 'a' is not defined

In [19]:
#cloning
lis=[1,2,3,4,5,6,9]
lis2=lis
print(lis)
print(lis2)

[1, 2, 3, 4, 5, 6, 9]
[1, 2, 3, 4, 5, 6, 9]

In [16]:
lis3=lis[2:7:2]
lis3

[3, 5, 9]

In [34]:
#nested list
lis=[[1,2,3],5,7,4]
#       0    1 2 3
for i in lis:
    print(i)

[1, 2, 3]
5
7
4

In [23]:
#list operations
lis=[2,5,2,1]
lis2=[4,2,5]
len(lis)

4

In [24]:
new_list = lis+lis2 #concatenation
print(new_list)

[2, 5, 2, 1, 4, 2, 5]

In [26]:
lis*4 #repition

[2, 5, 2, 1, 2, 5, 2, 1, 2, 5, 2, 1, 2, 5, 2, 1]

In [27]:
if 1 in lis:
    print('happy')
else:
    print('sad')

happy

In [22]:
10 in lis

False

In [23]:
max(lis)

5

In [24]:
sum(lis)

10

In [ ]:
list1 = [1,2,3]