# Dictionary

1. Dictionaries are key value pairs
2. Dictionaries are mutable
3. ex {'a':12}

In [14]:
student1 = {
    'name':'balu',
    'age':17,
    'class':12,
}
student2 = {
    'name':'Oviya',
    'age':17,
    'class':12,
}
student1


list1 = ["apple","banana","cherry","grapes"]

# {
# 0 : apple
# 1 : banana
# 2 : cherry
# 3 : grapes
# }

list1[1]

'banana'

In [12]:
student1['name']

'balu'

# Accessing the Values of dictionary using keys

In [16]:
student_ages = {
    'muthu' : 21,
    'karuppu': 22,
    'muni' : 23
}

print(student_ages['karuppu'])

22

In [18]:
student_ages['muni']=255
student_ages

{'muthu': 21, 'karuppu': 22, 'muni': 255}

# Using the del function for deleting a dictionary

In [4]:
del(student['muthu'])
student

{'karuppu': 22, 'muni': 255}

In [6]:
del student
student

NameError: name 'student' is not defined

# Using some Objects in dictionary

In [ ]:
di = {'muthu' : 21,
    'karuppu': 22,
    'muni' : 23,
     }
a = di.pop('muni') # pop returns the particular key's value and remove the (Key value) item completley from the dictionary
print(age_of_muni)
print(di)

23
{'muthu': 21, 'karuppu': 22}

In [ ]:
di.keys()
di.values()
di.items()
di.get("muthu")

21

In [46]:
di = {'muthu' : 2444,
    'karuppu': 22,
    'muni' : 23,
     }
print(sorted(di.values()))

[22, 23, 2444]

In [47]:
di = {'muthu' : 21,
    'karuppu': 22,
      'muni' : 23}
a=sorted(di.keys())
a

['karuppu', 'muni', 'muthu']

In [25]:
di.values()
b=sorted(di.values())
b

[21, 22, 23]

In [38]:
for i in di.keys():
    print(i)

muthu
karuppu
muni

In [11]:
for i in di.values():
    print(i)

52
12
24

In [12]:
for i in di:
    print(i)

muthu
karuppu
muni

In [13]:
len(di)

3

In [14]:
str(di)

"{'muthu': 52, 'karuppu': 12, 'muni': 24}"

In [15]:
list(di)

['muthu', 'karuppu', 'muni']

In [50]:
di = {'muthu' : 21,
    'karuppu': 22,
    'muni' : 23,
     }

print("Before clearing",di) 

di.clear()
print("After clearing",di)

Before clearing {'muthu': 21, 'karuppu': 22, 'muni': 23}
After clearing {}

In [51]:
di = {'muthu' : 21,
    'karuppu': 22,
    'muni' : 23,
     }

print("Before deleting",di) 

del di
print("After deleting",di)

Before deleting {'muthu': 21, 'karuppu': 22, 'muni': 23}

NameError: name 'di' is not defined

In [27]:
di = {'muthu' : 52,
    'karuppu': 12,
      'muni' : 24}
l=di.copy()
l

{'muthu': 52, 'karuppu': 12, 'muni': 24}

In [50]:
di.items()

dict_items([('muthu', 52), ('karuppu', 12), ('muni', 24)])

In [55]:
marvel = {'muthu' : 52,
    'karuppu': 12,
      'muni' : 24}

marvel={'hela':34,
    'america':96}

marvel.update(marvel)

'''
{'hela':34,
    'america':96} + {'hela':34,
    'america':96}
'''

marvel

{'hela': 34, 'america': 96}

In [56]:
new_marvel={'roger':12}
new_marvel+marvel
new_marvel

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [58]:
marvel = {'muthu' : 52,
    'karuppu': 12,
      'muni' : 24}
      
print("muthu" in marvel)

True

In [59]:
marvel = {'muthu' : 52,
    'karuppu': 12,
      'muni' : 24}
      
'muni' not in marvel

False

# Set

In [ ]:
list1 = [1,2,2,2,2,2,2,2,3] # remove duplicates from list 
print(list(set(list1)))


set1 = {1,2,2,2,2,2,2,2,3}
set1

[1, 2, 3]

{1, 2, 3}

In [34]:
a=[4, 3, 3,3, 2, 1,3,2]
for i in a:
    x=a.count(i)
    if x>1:
       for j in range(x-1):
         a.remove(i)
sorted(a)

[1, 2, 3, 4]

In [43]:
a=[4, 3, 3,3, 2, 1,3,2]
print(list(set(a)))

[1, 2, 3, 4]

In [44]:
type(set1)

set

In [25]:
type(di)

dict

In [26]:
len(set1)

5

In [41]:
set1.add(1.5)
set1

{1, 1.5, 2, 4, 'black', 'red'}

In [45]:
set2={False,1,11,'str'}
set1.update(set2)
set1

{1, 1.5, 11, 2, 4, False, 'black', 'red', 'str'}

In [68]:
set2={False,1,11,'str'}

set2.remove(1)
set2

{11, False, 'str'}

In [69]:
set2.discard(2)
set2

{11, False, 'str'}

In [46]:
set1={1,2,3,4}
set2={4,5,6,1}

set1.intersection(set2)

{1, 4}

In [70]:
set1={1,2,3,4}
set2={4,5,6,1}
set1.union(set2)

{1, 2, 3, 4, 5, 6}

In [4]:
set1.intersection(set2)

{1, 4}